@media (max-height: 1200px) {
    #head{
        height: 200px;
    }
}
@media (max-width: 1500px) {
    #head{
        width: 400px;
    }
}
header {
    background-image: url(../Images/photos-de-couverture.jpg);
    
    width: 79%;
    background-size: cover;
    height: 110vh;
    background-position: center;
    position: absolute;
    top: 100%;
    left: 91px;

} 
h1{
    color: rgb(40, 250, 8);
    margin-left: 20px;
    text-decoration: bold;

}
.span h1{
    color: aqua;
}
.menu-nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 270px;
   
    text-align: left;
    font-size: medium;
    
}
a{
    padding:15px;
    color: bisque;
    border: 2px solid #ffffff48;
    border-radius: 10%;
    padding: 5px; 
}
a :hover{
    color: chartreuse;
}
h2 {
    color: bisque;
    text-transform: uppercase;
    text-decoration: bold;
    margin-left: 20px;

}
.app1{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 10px;
    justify-items: center;
    padding: 15px;
    position: relative;
    top: 75PX;
}
.app1 p{

    color: rgb(240, 4, 4);
    text-decoration: bold;
    grid-column: 1;
    grid-row: 1;
    /* margin: 20px;
    top: -117px;
    left: 5px;
    position: relative; */
}
  
 .app1 img{
    grid-column: 2;
    grid-row: 1;

    max-width: 68%;
    height: 29%;
    /* top: -92px;
    left: -48px;
    position: relative; */
  }
  .app1 a {
    grid-column: 3;
    grid-row: 1;
    max-width: 68%;
    height: 12%;
    /* top: -92px;
    left: -48px;
    position: relative;  */
    background-color: #4CAF50;
    border: 2px solid #FFF;
    justify-items: center;
    list-style: none;
  }
  .app2{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 10px;
    justify-items: center;
    padding: 15px;
    position: relative;
    top: -720px;
}
.app2 p{
    color: rgb(240, 4, 4);
    text-decoration: bold;
    grid-column: 1;
    grid-row: 2;
    /* margin: 20px;
    top: -117px;
    left: 5px;
    position: relative; */
}
  
 .app2 img {
    max-width: 68%;
    height: 29%;
    grid-column: 2;
    grid-row: 2;
    /* top: -92px;
    left: -48px;
    position: relative; */
  }
  .app2 a {
    max-width: 68%;
    height: 12%;
    grid-column: 3;
    grid-row: 2;
    /* top: -92px;
    left: -48px;
    position: relative; */
    background-color: #4CAF50;
    border: 2px solid #FFF;
    justify-items: center;
    list-style: none;
  }
  .app3{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap: 10px;
    justify-items: center;
    padding: 15px;
    position: relative;
    top: -1525PX;
}
.app3 p{
    color: rgb(240, 4, 4);
    text-decoration: bold;
    grid-column: 1;
    grid-row: 3;
    /* margin: 20px;
    top: -117px;
    left: 5px;
    position: relative; */
}
  
 .app3 img {
    max-width: 68%;
    height: 29%;
    grid-column: 2;
    grid-row: 3;
    /* top: -92px;
    left: -48px;
    position: relative; */
  }
  .app3 a {
    max-width: 68%;
    height: 12%;
    grid-column: 3;
    grid-row: 3;
    /* top: -92px;
    left: -48px;
    position: relative;  */
    background-color: #4CAF50;
    border: 2px solid #FFF;
    justify-items: center;
    list-style: none;
  }
  